In [19]:
import numpy as np
import pandas as pd

In [20]:
t = pd.read_csv('../csv/stochastic_matrix.csv', index_col=0)

In [21]:
t.head()

,0,1,2,3,4,5,6,7,8,9,10
R00014,C00022,C00068,<=>,C05125,C00011,NaN,NaN,NaN,NaN,NaN,NaN
R00200,C00002,C00022,<=>,C00008,C00074,NaN,NaN,NaN,NaN,NaN,NaN
R00229,C00002,C00033,C00010,<=>,C00008,C00024,C00009,NaN,NaN,NaN,NaN
R00235,C00002,C00033,C00010,<=>,C00020,C00013,C00024,NaN,NaN,NaN,NaN
R00341,C00002,C00036,<=>,C00008,C00074,C00011,NaN,NaN,NaN,NaN,NaN